numpy==1.26.4
opencv-contrib-python==4.8.1.78
matplotlib==3.9.4
seaborn==0.13.2
SimpleITK==2.5.2
scikit-image==0.24.0
scipy==1.13.1
pyradiomics==3.1.0
pandas==2.3.2
openpyxl==3.1.5
Pillow==11.3.0
PyWavelets==1.6.0
pydicom==2.4.4
pyyaml==6.0.2 
joblib==1.5.2
tqdm==4.67.1
psutil==7.0.0  
pingouin==0.5.5
scikit-learn==1.6.1
PyQt5==5.15.11
timm==1.0.22
nibabel==5.3.2
tensorly==0.8.1
trimesh==4.10.0
